body {
    background-color: #6990CB;
    animation: fadeIn 1s ease-in-out;
}

.imagem {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.Luara img {
    width: 200px;
    border-radius: 50%;
    height: 230px;
    box-shadow: 0 0 10px black;
    animation: fadeIn 1s ease-in-out;
}
.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: sans-serif;
}

.titulo {
    font-size: 60px;
    font-weight: bold;
}

.decricao {
    font-size: 15px;
    line-height: 1.5;
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    animation: fadeIn 1s ease-in-out;
}

.btn_wpp {
    background-color: #25D366;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
}

.btn_wpp img {
    width: 40px;
}

.btn_insta {
    background: linear-gradient(to right,
     #405DE6,
     #5851DB,
     #833AB4,
     #C13584,
     #E1306C,
     #FD1D1D,
     #F56040,
     #FFC13B);
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 7px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
}

.btn_insta img {
    width: 40px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
